/* Nested and nested again  */
$font-size: 14px;
$font-size2: 16px;
$font-size3: 12px;

body {
     font-size: $font-size;
     h1 {
     	font-size: $font-size2;
	&.smaller {
	font-size: $font-size3;
    }
  }
}
